@{
    ViewData["Title"] = "Calendario";
}

<div id="calendar">

</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialDate: '2022-10-02',
                initialView: 'timeGridWeek',
              
                events: '/api/calendar/events' // URL dell'API per recuperare gli eventi
            });
            calendar.render();
        });
    </script>
}
