@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calcola il tempo di studio</h1>
     <input type="button" value="Calcola" onclick="location.href='@Url.Action("CalculateStudyTime", "Home")'" />
</div>
