
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <input type="button" value="Calcola gli slot di studio" onclick="location.href='@Url.Action("CalculateStudyTime", "Home")'" />
</div>

<partial name="_Calendar" />

@section Scripts{

    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialDate: '2023-06-05',
                initialView: 'timeGridWeek',
              
                events: '/api/calendar/events' // URL dell'API per recuperare gli eventi
            });
            calendar.render();
        });

        function CalculateStudyTime()
        {

        }
    </script>
}


